@charset "UTF-8";
.block,
.block-item {
  display: block;
  overflow: hidden;
  border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch
}

.quantity,
.quantity .txt,
.quantity button,
.sku-layout .vertical-middle {
  vertical-align: middle
}

.block,
.block p,
.block-item {
  overflow: hidden
}

.quantity .txt,
.quantity button,
.tag {
  text-align: center;
  margin: 0
}

.block,
.block-item,
.sku-layout .block-item,
.sku-layout-title,
.sku-message dl {
  border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch
}

.image-input-trigger,
.quantity .txt {
  -webkit-tap-highlight-color: transparent
}

.block-item {
  position: relative;
  padding: 10px;
  line-height: 1.5;
  border: 0;
  -webkit-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  -moz-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  border-top: 2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
  .block-item {
    border-top-width: 1px
  }
}

.block-item .btn-auth-code {
  position: absolute;
  top: 6px;
  right: 0;
  height: 30px;
  line-height: 30px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: 700
}

.block-item .verify-image {
  position: absolute;
  width: 80px;
  height: 30px;
  right: 10px;
  top: 7px
}

.block,
.quantity,
.quantity .minus {
  position: relative
}

.block-item.border-none {
  border-top: 0
}

.block-item ul {
  padding-right: 50px
}

.block-item ul em {
  color: #999
}

.block-item h4.block-item-title {
  line-height: 22px;
  float: left;
  margin-right: 10px
}

.block {
  -webkit-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  -moz-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  margin: 10px 0;
  background-color: #fff;
  font-size: 14px
}

.block.top-0,
.block:first-child {
  margin-top: 0
}

.quantity,
.tag {
  display: inline-block
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
  .block {
    border-top-width: 1px;
    border-bottom-width: 1px
  }
}

.block.border-0,
.block.border-top-0 {
  border-top: 0
}

.block.border-0,
.block.border-bottom-0 {
  border-bottom: 0
}

.block.bottom-0 {
  margin-bottom: 0
}

.block .bottom {
  padding: 10px;
  height: 18px;
  line-height: 18px
}

.block .bottom .price {
  float: right;
  color: #f60
}

.block.block-list {
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.block.block-list.margin-top-normal {
  margin-top: 20px
}

.block-list.wf {
  padding-left: 0
}

.block-list.wf .b-list {
  padding-left: 10px;
  background-color: #fff
}

.block-list>.block-item {
  padding: 10px 10px 10px 0
}

.block-list>.block-item:first-child {
  border-top: 0 none
}

.block.block-list+.block.block-list {
  margin-top: 12px
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (-o-min-device-pixel-ratio:3 / 2),
only screen and (min-device-pixel-ratio:1.5) {
  .block.block-list li span.clear {
    background: url(https://b.yzcdn.cn/v2/image/wap/icon_clear@2x.png) center center no-repeat;
    background-size: 100%
  }
}

.tag {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #999;
  font-size: 12px;
  line-height: 12px;
  padding: 4px
}

.tag-big {
  font-size: 14px;
  line-height: 18px
}

.tag.tag-green {
  color: #06bf04;
  border-color: #0c3
}

.tag.tag-orange,
.tag.tag-orangef60 {
  color: #f60;
  border-color: #f60
}

.tag.tag-white {
  color: #333;
  border-color: #bbb
}

.tag.tag-blue {
  color: #38f;
  border-color: #38f
}

.tag.tag-red {
  color: #ed5050;
  border-color: #ed5050
}

.tag.tag-pink {
  color: #ee614b;
  border-color: #ee614b
}

.tag.disabled {
  background-color: #ddd!important;
  background-image: none!important;
  border: 1px solid transparent!important;
  color: #fff!important
}

.quantity {
  font-size: 0
}

.quantity input[type=number]::-webkit-outer-spin-button {
  margin: 0
}

.quantity button {
  border: 2px solid #eee;
  font-size: 16px;
  line-height: 10px;
  font-weight: 700;
  color: #666;
  padding: 5px;
  outline: 0!important;
  width: 26px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden
}

.quantity .txt {
  font-size: 14px;
  width: 24px;
  height: 18px;
  border-radius: 0
}

.quantity .minus::before,
.quantity .plus::before {
  width: 8px;
  height: 2px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #6c6c6c;
  bottom: 0;
  content: ''
}

.quantity .txt:focus {
  border-color: #eee
}

.quantity .minus {
  border-radius: 4px 0 0 4px;
  border-right: 0 none
}

.quantity .minus::before {
  position: absolute
}

.quantity .plus {
  position: relative;
  border-left: 0 none;
  border-radius: 0 4px 4px 0
}

.quantity .plus::before {
  position: absolute
}

.quantity .plus::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: '';
  width: 2px;
  height: 8px;
  background-color: #6c6c6c
}

.quantity .minus.disabled::before,
.quantity .plus.disabled::after,
.quantity .plus.disabled::before {
  background-color: #ddd
}

.quantity .response-area {
  width: 42px;
  height: 42px;
  top: -7px;
  position: absolute
}

.name-card,
.name-card .thumb {
  position: relative;
  overflow: hidden
}

.quantity .response-area-plus {
  right: -5px
}

.quantity .response-area-minus {
  left: -5px
}

.name-card {
  margin-left: 0;
  width: auto;
  padding: 5px 0
}

.name-card .thumb {
  width: 60px;
  height: 60px;
  float: left;
  margin-left: auto;
  margin-right: auto;
  background-size: cover
}

.name-card .thumb img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%
}

.name-card a:active,
.name-card a:hover {
  text-decoration: none
}

.name-card .detail {
  margin-left: 68px;
  width: auto;
  position: relative
}

.name-card .detail h3 {
  margin-top: 1px;
  color: #333;
  font-size: 12px;
  line-height: 16px;
  width: 100%
}

.name-card .detail p {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  margin: 0 0 2px;
  color: #ccc
}

.name-card .detail a {
  display: block
}

.name-card .detail .l2-ellipsis {
  max-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.name-card .btn-goods-link {
  bottom: 8px;
  right: 10px;
  position: absolute;
  line-height: 14px;
  font-size: 12px
}

.name-card.name-card-3col {
  padding: 8px 85px 8px 0
}

.name-card.name-card-3col .right-col {
  position: absolute;
  right: 0;
  top: 8px;
  width: 78px;
  padding-right: 10px;
  font-size: 12px
}

.name-card.name-card-3col .right-col .price {
  font-size: 14px;
  color: #515151;
  text-align: right;
  line-height: 16px
}

.name-card.name-card-3col .right-col .num {
  font-weight: 200;
  text-align: right;
  margin-top: 3px;
  padding: 0;
  color: #555
}

.name-card.name-card-3col .right-col .num .num-txt {
  padding: 0;
  line-height: 22px;
  color: #515151
}

.name-card.name-card-3col .right-col .order-state {
  font-size: 13px;
  text-align: right
}

.sku-layout {
  background-color: #f8f8f8
}

.sku-layout .line-through {
  display: inline-block;
  text-decoration: line-through;
  line-height: 23px
}

.sku-layout .block-item {
  border: 0;
  -webkit-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  -moz-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  border-top: 2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
  .sku-layout .block-item {
    border-top-width: 1px
  }
}

.sku-layout .block-item:first-child {
  border-top: 0 none
}

.sku-box-shadow {
  -webkit-box-shadow: 0 -1px 14px rgba(0, 0, 0, .9);
  box-shadow: 0 -1px 14px rgba(0, 0, 0, .9)
}

.sku-layout-title {
  -webkit-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  -moz-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  border-bottom: 2px solid #e5e5e5;
  border-top-width: 0;
  position: static;
  padding: 10px 0;
  margin-left: 10px
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
  .sku-layout-title {
    border-bottom-width: 1px
  }
}

.sku-layout-title .thumb {
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 2px
}

.sku-layout-title .goods-base-info {
  margin-left: 60px
}

.sku-layout-title .goods-base-info .title {
  padding-right: 52px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 22px
}

.sku-layout-title .goods-base-info .goods-price {
  padding: 0 55px 0 0
}

.sku-layout-title .goods-base-info .current-price {
  line-height: 20px
}

.sku-layout-title .goods-base-info .current-price .price-name {
  padding-top: 1px
}

.sku-layout-title .goods-base-info .current-price .price-tag {
  padding: 0 5px;
  margin-left: 5px;
  line-height: 16px;
  font-size: 10px;
  border-radius: 2px
}

.sku-layout-title .goods-base-info .old-price,
.sku-layout-title .goods-base-info .original-price {
  color: #999
}

.sku-layout-title .goods-base-info .original-price {
  display: none
}

.sku-layout-title .goods-base-info .old-price {
  display: block;
  margin: 5px 0 0 2px;
  font-size: 10px;
  line-height: 12px
}

.sku-layout .sku-cancel {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px
}

.sku-layout .sku-cancel .cancel-img {
  height: 22px;
  width: 22px;
  background-image: url(https://b.yzcdn.cn/v2/image/wap/sku/icon_close.png);
  background-size: 22px 22px
}

.sku-layout .goods-models .sku-list-container {
  padding: 10px 0 0;
  border: 0
}

.sku-layout .sku-sel-title {
  margin-bottom: 10px;
  font-size: 13px
}

.sku-layout .sku-sel-list {
  zoom: 1;
  padding-left: 0;
  margin-bottom: 0
}

.sku-layout .sku-sel-list:after {
  content: '';
  display: table;
  clear: both
}

.sku-layout .sku-tag {
  position: relative;
  margin-right: 10px;
  min-width: 32px;
  max-width: 180px;
  line-height: 16px;
  padding: 5px 9px;
  margin-bottom: 10px;
  color: #333;
  border-color: #999
}

.sku-layout .sku-tag.unavailable {
  border-color: #e5e5e5;
  color: #cacaca;
  background-color: #eee;
  cursor: not-allowed
}

.sku-layout .sku-tag.active {
  color: #fff;
  background-color: #f60;
  border-color: #f60
}

.sku-layout .sku-num {
  line-height: 29px
}

.sku-layout .other-info {
  line-height: 14px
}

.sku-layout .stock {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px
}

.sku-layout .quota {
  display: inline-block;
  font-size: 12px;
  color: #f15a0c
}

.sku-layout .quantity {
  float: right
}

.sku-layout .quantity .minus {
  border-radius: 2px 0 0 2px
}

.sku-layout .quantity .minus.disabled {
  background-color: #f8f8f8;
  border-color: #e8e8e8 #999 #e8e8e8 #e8e8e8
}

.sku-layout .quantity .minus.disabled::before {
  background-color: #bbb
}

.sku-layout .quantity .plus {
  border-radius: 0 2px 2px 0
}

.sku-layout .quantity .plus.disabled {
  background-color: #f8f8f8;
  border-color: #e8e8e8 #e8e8e8 #e8e8e8 #999
}

.sku-layout .quantity .plus.disabled::after,
.sku-layout .quantity .plus.disabled::before {
  background-color: #bbb
}

.sku-layout .quantity .txt {
  width: 33px;
  height: 25px;
  padding: 1px;
  border: 1px solid #999;
  border-width: 1px 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: #666
}

.sku-layout .quantity .txtCover {
  position: absolute;
  top: 0;
  left: 37px;
  bottom: 0;
  right: 37px
}

.sku-layout .quantity .minus,
.sku-layout .quantity .plus {
  width: 37px;
  height: 29px;
  background-color: #fff;
  border: 1px solid #999
}

.sku-layout .quantity .minus::before,
.sku-layout .quantity .plus::before {
  height: 1px;
  width: 9px;
  background-color: #666
}

.sku-layout .quantity .minus::after,
.sku-layout .quantity .plus::after {
  width: 1px;
  height: 9px;
  background-color: #666
}

sup.required {
  color: red!important
}

.block-list .block-item.block-item-messages {
  padding: 0;
  overflow: visible;
  -webkit-tap-highlight-color: transparent
}

.sku-message dl {
  -webkit-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  -moz-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  border-top: 2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
  .sku-message dl {
    border-top-width: 1px
  }
}

.sku-message dl:first-child {
  border: 0
}

.sku-message dt {
  width: 70px;
  position: relative
}

.sku-message dt .required {
  position: absolute;
  left: -7px;
  font-size: 14px
}

.sku-message dt label {
  display: inline-block;
  line-height: 44px
}

.sku-message dt .multi-label {
  padding-bottom: 0
}

.sku-message .comment-wrapper {
  margin-left: 90px;
  padding-right: 5px;
  position: relative
}

.sku-message .comment-wrapper .txt,
.sku-message .comment-wrapper .txta {
  padding: 12px 0;
  line-height: 20px;
  width: 97%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.sku-message .comment-wrapper .txta {
  -webkit-transition: height .3s ease-in-out;
  -moz-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
  line-height: 20px;
  padding: 0;
  margin-top: 12px;
  height: 20px;
  margin-bottom: 6px;
  resize: none
}

.sku-message .comment-wrapper .focus-texta {
  height: 52px
}

.cancel-input {
  background: url(https://b.yzcdn.cn/v2/image/wap/sku/icon_close.png) center no-repeat;
  height: 44px;
  width: 44px;
  background-size: 16px 16px;
  position: absolute;
  right: 0;
  top: 0;
  display: none
}

.goods-models.js-sku-views.block.block-list {
  margin-bottom: 10px
}

.image-input-trigger {
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  margin: 15px 0
}

.image-input-trigger .select-photo::before,
.image-input-trigger .take-photo::before {
  content: '';
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 14px;
  height: 12px;
  background-size: 14px 12px
}

.image-input-trigger .take-photo {
  margin-right: 10px
}

.image-input-trigger .take-photo::before {
  top: 1px;
  background-image: url(https://b.yzcdn.cn/v2/image/wap/sku/icon_camera.png)
}

.image-input-trigger .select-photo::before {
  top: 2px;
  margin-left: 10px;
  background-image: url(https://b.yzcdn.cn/v2/image/wap/sku/icon_img.png)
}

.img-tip {
  display: block;
  margin-top: -10px;
  font-size: 12px;
  color: #999
}

.image-input-show {
  margin-bottom: 8px;
  height: 60px
}

.image-input-show img {
  margin-right: 5px;
  width: 60px;
  height: 60px;
  vertical-align: text-bottom
}

.photo-input {
  position: absolute;
  opacity: 0;
  height: 40px;
  width: 175px;
  left: 0;
  top: 0
}

.sku-layout {
  -webkit-overflow-scrolling: touch
}

.sku-layout .layout-content {
  overflow-y: scroll;
  line-height: 20px;
  background-color: #f8f8f8
}

.sku-layout .content-foot {
  font-size: 0
}

.sku-layout .content-foot .half-button {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%
}

.sku-layout .content-foot .half-button:first-child {
  padding-right: 5px
}

.sku-layout .content-foot .half-button:last-child {
  padding-left: 5px
}

.sku-layout .content-foot .btn-buy,
.sku-layout .content-foot .btn-cart,
.sku-layout .content-foot .btn-next {
  padding: 8px;
  line-height: 17px;
  font-size: 14px
}

@font-face {
  font-family: iconfont;
  src: url(https://b.yzcdn.cn/youzan-icon/font/iconfont-0.1.eot?t=1481088669367);
  src: url(https://b.yzcdn.cn/youzan-icon/font/iconfont-0.1.eot?t=1481088669367#iefix) format("embedded-opentype"), url(https://b.yzcdn.cn/youzan-icon/font/iconfont-0.1.woff?t=1481088669367) format("woff"), url(https://b.yzcdn.cn/youzan-icon/font/iconfont-0.1.ttf?t=1481088669367) format("truetype"), url(https://b.yzcdn.cn/youzan-icon/font/iconfont-0.1.svg?t=1481088669367#iconfont) format("svg")
}

.iconfont {
  font-family: iconfont!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale
}

.new-btn,
.new-btn .desc {
  font-size: 10px;
  text-align: center
}

.icon-certificate:before {
  content: "\e602"
}

.icon-search:before {
  content: "\e603"
}

.icon-gift:before {
  content: "\e604"
}

.icon-cancel:before {
  content: "\e605"
}

.icon-left-arrow:before {
  content: "\e606"
}

.icon-shopping-cart:before {
  content: "\e607"
}

.icon-location:before {
  content: "\e608"
}

.icon-service:before {
  content: "\e609"
}

.icon-store:before {
  content: "\e60a"
}

.orange-btn {
  background: #f85;
  color: #fff;
  position: relative
}

.orange-btn::after {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  pointer-events: none;
  border-top: 1px solid #E57A4C
}

.disabled-btn::after,
.red-btn::after {
  content: "";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  pointer-events: none;
  top: 0;
  left: 0
}

.orange-btn:active {
  background: #DD6F44
}

.red-btn {
  background: #f44;
  color: #fff;
  position: relative
}

.red-btn::after {
  position: absolute;
  box-sizing: border-box;
  transform: scale(.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  border-top: 1px solid #E53D3D
}

.red-btn:active {
  background: #D43333
}

.disabled-btn {
  background: #e5e5e5;
  color: #999;
  position: relative
}

.disabled-btn::after {
  position: absolute;
  box-sizing: border-box;
  transform: scale(.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  border-top: 1px solid #cdcdcd
}

.buy-cart::after,
.service::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5)
}

.warning-bar {
  margin: 0;
  height: 35px;
  line-height: 35px;
  background: #FFF7CC!important
}

.big-btn,
.new-btn {
  height: 50px;
  float: left
}

.new-btn {
  line-height: 50px;
  background-color: #fff
}

.new-btn:active {
  background-color: #F8F8F8
}

.new-btn .desc {
  position: absolute;
  line-height: normal;
  left: 0;
  bottom: 5px;
  width: 100%;
  color: #666
}

.big-btn {
  line-height: 50px;
  font-size: 16px;
  padding: 0;
  border: none;
  vertical-align: top
}

.buy-cart-msg::before,
.service-msg::before {
  border-radius: 8px;
  background: #f44;
  z-index: 2
}

.buy-cart::after,
.gift::after,
.service::after {
  content: "";
  pointer-events: none;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1)
}

.big-btn-1-1 {
  overflow: hidden;
  text-align: center
}

.big-btn-1-1 .big-btn {
  width: 100%
}

.big-btn-2-1 {
  font-size: 0;
  overflow: hidden;
  text-align: center
}

.big-btn-2-1 .big-btn {
  width: 50%
}

.buy-cart {
  position: relative
}

.buy-cart::after {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  transform: scale(.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top
}

.buy-cart .icon-shopping-cart {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -10px;
  color: #666
}

.buy-cart-msg::before {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: 7px
}

.service {
  position: relative
}

.service::after {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  transform: scale(.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top
}

.gift::after,
.point::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5)
}

.service .icon-service {
  display: block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #f44;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -10px
}

.service-msg::before {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: 7px
}

.gift {
  position: relative
}

.gift::after {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  transform: scale(.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top
}

.gift .icon-gift {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -10px;
  color: #666
}

.point::after,
.promotion::after {
  content: "";
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  pointer-events: none;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1)
}

.point {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAoCAMAAACo9wirAAAAY1BMVEUAAABpaWloaGhmZmZmZmZnZ2dycnJnZ2dnZ2dmZmZmZmZnZ2dtbW1ra2toaGhmZmZmZmZlZWVmZmZmZmZnZ2dmZmZpaWlmZmZoaGhmZmZmZmZmZmZmZmZnZ2dkZGRmZmZmZmYJ5zNiAAAAIHRSTlMAGVzpy8YH+sDv4NoVEQ705Luok4ptKF9MsX94VUgzS+0p87kAAAD3SURBVDjL7ZRJrsMgEEQZDBgDnqfMdf9T/v6xpYTEFllmkbcAS1UGuqUu9jlc9I2TxkjX9IK/qnpQiFCDftYHCVSH0zx6rf04nw4VIIfH4TmgztEf+qyAnK+6Qz2zN+YabnFkyALbIJDwvwsUJdukLCBoy2ndQSCnVYLvtgYyaUhekXzkWibfvICE5aOA6d/13qDgi6EGUHUhalJXAajvBq2gWhCyOV7Gshwvx0aCaEnQZJjgAvOtRYRtPQsOExnUWua1y6wBYWzWXZ/KtPBsBw/76+R2Jw1gvrWTu6OXHN70+McBclsC5LYGSDqCYvj0CLGJs4/5AxbWIm2lZulWAAAAAElFTkSuQmCC);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 50% 7px;
  position: relative
}

.point::after {
  position: absolute;
  box-sizing: border-box;
  transform: scale(.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top
}

.promotion {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAMAAABiM0N1AAAAY1BMVEUAAAD/RET/RET/RET/RUX/RUX/RET/Rkb/Rkb/R0f/UFD/VVX/WVn/RUX/RUX/RUX/RET/RUX/RUX/RET/RUX/RUX/RET/Rkb/RET/Rkb/Rkb/Rkb/R0f/R0f/RUX/RET/RET/klPVAAAAIHRSTlMAnffs3LSZPyIZEAkFZe7q48vIv6OUg4BwbVdQSEE0LcnOiicAAAG2SURBVFjD7dfJbsIwFEbha2eeGFvm4bz/UzZ0E1VQ/7d0hcTZREjRJ5I4jm3v3r1O1325zrNo3215kEepwvzn2dunoEN+f/b279B5ya1Y7E5129ujggOqC8Zm4djZrwU0VGVA3LRmaScIaIhA2Zh0LAn1n8DiYg4nDd2cVeNx0tAAfHQeJw1VcXTM46ShOoOV6/8IqICF6/4I6Ay4npeCllB6HAUdIHrGoYRy2DgcCVUwa7WjoQDB40xtH0NzODqdSXo0P0PsnM4k2X17KJTjqoSdcHyt4SQcXznUwvGVQSscXxF64TwHaaeHqC9NO9ZCpm+2dqyGXD9+7dgJ1npAasd2UOpXRDtWwF6/tNrpIlw908ggxs8R5uaa2ML0W5yvptoh5bQzqExO/rrN9yhSnyNdE+Fgpj6QuhKW40F8snUX4DwexSJC1iym4ZtY1si6FWS1jYmFluoD4vTon176daPDYCK9GG1WwKdy9PL4srg5vWDkgr0pgSiuS28h2k0EMnGf1aamO4YZY0XiuYttVt/Wp10RubVMjGe58ZvK795T/1Z0ah6qf26OY5avy/3V3r17mb4A97lDYil581IAAAAASUVORK5CYII=);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50% 5px;
  position: relative
}

.promotion::after {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top
}

.big-mini-btn-1-1,
.big-mini-btn-2-1,
.mini-btn-1-1,
.mini-btn-2-1,
.mini-btn-3-1 {
  font-size: 0;
  padding: 0
}

@media screen and (min-width:768px) {
  .mini-btn-1-1 {
    float: left;
    width: 70px
  }
  .mini-btn-1-1 .new-btn {
    width: 70px
  }
  .mini-btn-2-1 {
    float: left;
    width: 120px
  }
  .mini-btn-2-1 .new-btn {
    width: 60px
  }
  .mini-btn-3-1 {
    float: left;
    width: 129px
  }
  .mini-btn-3-1 .new-btn {
    width: 43px
  }
  .presale-btn {
    position: relative
  }
  .presale-btn .left-desc-btn {
    position: absolute;
    left: 10px!important
  }
  .presale-btn .right-buy-btn {
    right: 10px!important
  }
}

@media screen and (max-width:321px) {
  .mini-btn-1-1 {
    float: left;
    width: 70px
  }
  .mini-btn-1-1 .new-btn {
    width: 70px
  }
  .mini-btn-2-1 {
    float: left;
    width: 120px
  }
  .mini-btn-2-1 .new-btn {
    width: 60px
  }
  .mini-btn-3-1 {
    float: left;
    width: 129px
  }
  .mini-btn-3-1 .new-btn {
    width: 43px
  }
  .presale-btn {
    position: relative
  }
  .presale-btn .left-desc-btn {
    position: absolute;
    left: 10px!important
  }
  .presale-btn .right-buy-btn {
    right: 10px!important
  }
}

@media screen and (min-width:321px) and (max-width:413px) {
  .mini-btn-1-1 {
    float: left;
    width: 70px
  }
  .mini-btn-1-1 .new-btn {
    width: 70px
  }
  .mini-btn-2-1 {
    float: left;
    width: 140px
  }
  .mini-btn-2-1 .new-btn {
    width: 70px
  }
  .mini-btn-3-1 {
    float: left;
    width: 144px
  }
  .mini-btn-3-1 .new-btn {
    width: 48px
  }
}

@media screen and (min-width:413px) and (max-width:767px) {
  .mini-btn-1-1 {
    float: left;
    width: 80px
  }
  .mini-btn-1-1 .new-btn {
    width: 80px
  }
  .mini-btn-2-1 {
    float: left;
    width: 160px
  }
  .mini-btn-2-1 .new-btn {
    width: 80px
  }
  .mini-btn-3-1 {
    float: left;
    width: 174px
  }
  .mini-btn-3-1 .new-btn {
    width: 58px
  }
}

.sku-layout .content-foot {
  padding: 0!important;
  width: 100%!important
}

.sku-layout .layout-content {
  border: none!important
}

.bottom-fix {
  border-top: 0;
  bottom: -1px
}

.presale-btn {
  position: relative
}

.presale-btn .left-desc-btn {
  font-size: 10px;
  position: absolute;
  left: 8%
}

.presale-btn .multi-line {
  height: 30px;
  margin-top: 10px;
  line-height: 15px;
  text-align: left
}

.presale-btn .right-buy-btn {
  position: absolute;
  right: 8%
}
